# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*
*.dylib

# Executables
# compass
compass-api-test
compass-cgi
compass-test

# control
turn-speed
turn
square
position
pimobile-test
pimobile-cgi

# ultra
ultra-test
ultra-cgi
ultra-api-test

# tone
alarm
beep
melody
mute
tetris

# opencv
opencv/*.png
opencv/*.jpg
vision
findobject

# Debug files
*.dSYM/
